@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Trabajo realizado por:<br />
        Albert Muñoz<br />
        Julián Flórez<br />
        Luis Patiño<br />
        Miguel Restrepo<br />
       
    </address>

 
</main>